@{
    ViewData["Title"] = "Home Page";
}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Blog Administrativo SOCIAL UDLA
            </h1>
            <p class="lead">
                El blog está hecho para crear Posts y Tags sobre temas de la Universidad de las Américas
                Quiere conocer más sobre temas de la Universidad de las Américas? Descargue la aplicación móvil.            
            </p>


        </div>


        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 alt="SOCIAL UDLA Blog" 
                 class="d-block mx-lg-auto img-fluid" width="300"/>
        </div>
    </div>
</div>